@model IEnumerable<systemquchooch.Models.Comunidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva comunidad</a>
</p>

<form asp-controller="Comunidads" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" value="@ViewData["FiltroActual"]" class="form-text"/>
        <input type="submit" value="buscar" class="btn btn-sm btn-dark"/>
        <a asp-action="Index" class="btn btn-outline-info">Lista completa</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <h2 class="bg-danger">Información de la comunidad</h2>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComunidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoComunidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoComunidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoComunidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
